div{
width: 100%;
height: 100%;
border: 2px, solid, black;
}
a {
width: 100%;
height: 100%;
border: 2px, solid, black;
}
a:hover:not(.active) {
    width: 100%;
    height: 100%;
    border: 2px, solid, rgb(0, 238, 255);
    background-color: blue;
}
